#counterLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Times New Roman', Times, serif;
}

#forbtn {
    text-align: center;
}

.btns {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(21, 181, 230);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.btns:hover {
    background-color: rgb(14, 17, 235);
}

body {
    background-image: url("https://img.freepik.com/premium-vector/border-template-with-kids-numbers_1308-3605.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 2.3em;
    font-family: 'Brush Script MT',cursive;
}

#i {
    text-align: center;
}